.prehome-container{
  height: 700%;
}
.prehome-background{
  height: 700%;
  z-index: 0;
  background: url('/dj_mix.jpeg') no-repeat center center fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.strip{
  padding: 5px;
  border: 1px solid white;
  border-radius: 3px;
  text-align: center;
  background-color: #06060E;
  z-index: 20;
  color: white;
  position: fixed;
  top: 3px;
  right: 3px;
  & input {
    margin-bottom: 5px;
  }
}

.prehome-content{
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
#prehome-logo{
  width: 50%;
  min-width: 100px;
  max-width: 200px;
  min-height:100px;
  max-height: 200px;
  margin: auto auto 60px auto;
  background-color: white;
  border-radius: 100px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
  & img{
    width: 60%;
    padding: 16.7% 0;
  }
}

.cover-container{
  display:flex;
  align-items:center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.title-container{
  width: 100%;
  padding: 40px 0;
  background-color: #06060E;
}

.subtitle-container{
  position: relative;
  bottom: calc(150px - 10vw);
  left: 25%;
  width: 50%;
  padding: 10px;
  background-color: #06060E;
  margin-top: 600px;
  & h3{
    margin:0
  }
}
#fake-form{
  display: flex;
  justify-content: center;

}
#fake-input{
  width: 162px;
  & p {
    margin-bottom: 0;
    overflow: hidden;
    height: 21px;
  }
  & hr {
    width: 100%
  }
}
#fake-input-text{
  width: 0;
}
#fake-btn, #fake-invite-btn{
  margin: 10px 0 7px 5px;
  border: 1px solid white;
  padding: 5px;
  width: 70px;
  &.fake-clic{
    background-color: white;
    color: black;
  }
}

#fake-soundmixer{
  position: fixed;
  width: 60%;
  margin: auto;
  opacity: 0;
  top: 50%;
  left: 20%;
  margin-top: -157px;
  #fake-soundmixer-img{
    z-index:1;
    width: 100%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
  }

  #fake-player{
    &-1{
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      width: 39.5%;
    }
    &-2{
      z-index: 10;
      position: absolute;
      top: 0;
      width: 39.5%;
      right: 0;
    }
  }

  .volume-group{
    z-index: 11;
    position: absolute;
    height: 35%;
    width: 5%;
    top: 14%;
  }
  .volume-1{
    height: 64%;
  }
  .volume-2{
    height: 100%;
  }
  #player-1-volume{
    left: 24%
  }
  #player-2-volume{
    right: 9%;
  }


  #vol-btn{
    z-index: 10;
    position: absolute;
    top: calc(32% - 15px);
    left: 40%;
    height: 30px;
  }
  .fake-waiting-list{
    position: absolute;
    top: 73%;
    left: 12%;
    height: 16%;
    width: 60%;
    img {
      width: auto;
      height: 100%
    }
  }
  #fake-invite-btn{
    position: absolute;
    opacity: 0;
    left:10px;
    top: -80px;
  }
  .fake-user-icon{
    z-index: 10;
    position: absolute;
    top: -78px;
    width: 50px;
    transition: right .5s ease;
    -moz-transition: right .5s ease;
    -webkit-transition: right .5s ease;
  }
  #fake-user-1{
    right: 2000px;
  }
  #fake-user-2{
    right: 2068px;
  }
  #fake-user-3{
    right: 2126px;
  }
}

#fake-player-1-group, #fake-player-2-group, #player-2-volume > .volume-1, #player-2-volume > .volume-2,
#yt-list-element, #sp-list-element, #sc-list-element, #yt-list-element-2, #yt-list-element-3, #sp-list-element-2{
  opacity: 0;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
}

#fake-soundmixer, .subtitle-container{
  transition: opacity 2s ease;
  -moz-transition: opacity 2s ease;
  -webkit-transition: opacity 2s ease;
}

#subtitle-2{
  margin-top: 1200px
}
#subtitle-3{
  margin-top: 1900px
}
#subtitle-4{
  margin-top: 2550px
}

#footer {
  position: absolute;
  bottom : 0px;
  background-color: #06060E;
  width: 100%;
  height: 200px;
}
