.profile-picture{
  margin: 40px auto 0 auto;
}

.frozen-field i{
  color: $primary-color;
  cursor: pointer;
}

.edit-field i{
  color: #5BB06B;
  cursor: pointer;
}
.edit-field i:last-child{
  color: #DB6A64;
}
