#logo{
  display: block;
  width:100%;
  max-width: 100px;
  margin: calc(40px - 10%) auto 6% auto;
}

#right-sound-link, #left-sound-link {
  position: absolute;
  height: 28.1px;
  width: 3px;
  background-color: #c2c0c2;
}

#right-sound-link{
  bottom: 0;
  right:0;
}
#left-sound-link{
  top: 0;
  left:0;
}
input[type="range"]{
  border: none;
}
input[type="range"]::-webkit-slider-thumb{
  margin-top: -11px;
  height: 26px;
  width:26px;
  background-image: url('/volume.png');
  background-size: 100%
}
input[type="range"]::-ms-thumb{
  margin-top: -11px;
  height: 26px;
  width:26px;
  background-image: url('/volume.png');
  background-size: 100%
}
input[type="range"]::-moz-range-thumb{
  margin-top: -11px;
  height: 26px;
  width:26px;
  background-image: url('/volume.png');
  background-size: 100%
}
.room-presentation{
  text-align: center
}
.users-group{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  & h6 {
    margin: 0 10px 0 0;
    line-height: 18px;
    width: 120px;
    text-align: right
  }
}
.logged-in-state{
  cursor: pointer
}
.logged-in-state big{
  font-size: 30px;
  color: $primary-color
}
#logged-in-chip{
  z-index: 30;
}
.logged-in-state .underline:hover + #logged-in-chip {
  -o-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  opacity:1
}

.modal { width: 90% !important ; min-height: 90% !important ; top: 5% !important; }
