@import './materialize.css';
@import './media_queries.css';

body {
  font-family: 'Asap';
  background: rgba(250,247,245,1);
background: -moz-linear-gradient(left, rgba(250,247,245,1) 0%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(250,247,245,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(left, rgba(250,247,245,1) 0%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(left, rgba(250,247,245,1) 0%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(left, rgba(250,247,245,1) 0%, rgba(255,255,255,1) 100%);
background: linear-gradient(to right, rgba(250,247,245,1) 0%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf7f5', endColorstr='#ffffff', GradientType=1 );
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oxygen'
}

a[disabled] {
  pointer-events: none;
}
a[disabled] i, a[disabled] span {
  color: rgb(144,144,144)
}

#logo{
  width:100%;
  max-width: 134px;
  margin: auto;
  margin-top: calc(40px - 10%);
}
.hidden {
  visibility: hidden;
}
.visible{
  visibility: visible;
}

.text-center{
  text-align: center
}


.range-field{
  left: -10
}

.avatar-sizing{
  width: 56px;
  height: 56px
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline li {
  vertical-align:top;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

span.value{
   visibility: hidden
 }
span.thumb.active{
   visibility: hidden
 }

 .btn-floating i{
   color: #2F9EE2;
   -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
 }
 .btn-floating{
   background: none;
   border: 1px solid #2F9EE2;
 }
 .btn-floating:hover{
   background-color: #2F9EE2;
   color: white
 }
 .btn-floating:hover i{
   color: white
 }

 nav{
   background-color: rgb(245, 245, 245);
 }
nav .input-field label i{
  color: rgb(17, 158, 224)
}
.material-icons{
  color: rgb(17, 158, 224)
}
.input-field input[type=search]:focus ~ .material-icons{
  color: rgb(17, 158, 224)
}
.input-field input[type=search]:focus + label i{
  color: rgb(17, 158, 224)
}

.card-image{
  position: relative
}
.card-image div{
  height: 160px;
  background-size: 120%;
  background-position: center
}
.card-title{
  text-shadow: 1px 1px 3px #565454;
  width: 100%;
  height: 130px;
  color: white;
  position : absolute;
  top:0;
}

.video-duration{
  background-color: rgba(15,15,15,0.7);
  padding: 8px 10px 22px 10px;
  height: 20px;
  color: white;
  margin: 0;
  line-height: 14px;
  font-size: 14px;
  position : absolute;
  bottom:0;
  right:0;
}

.truncate-block {
    overflow: hidden;
    text-overflow: ellipsis;
}

 .card .card-action a:not(.btn):not(.btn-large):not(.btn-floating){
    color: #2F9EE2;
    margin: 0;
 }

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover,
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover > i{
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #a5deff;
 }
 .card-action a{
   display:flex;
   align-items: center;
 }
 .card-action{
   text-align: center;
   display: flex;
   justify-content: space-around;
 }

.video-container{
  padding: 97px 0;
  top: 20px;
  position: absolute
}
.music-title{
  height: 50px;
  width: 100%;
  position: absolute;
  bottom:0;
  display: flex;
  vertical-align: center
}
.music-title h5{
  text-shadow: 1px 1px 3px #7f7c7c;
  color: white;
  width: 100%;
  margin: auto 0;
  font-size: 1.3em
}
.video-container iframe{
  border: 1px solid rgb(150,150,150);

  height:144px;
}
.tabs{
  margin-top: 20px;
  background-color: transparent
}
 #search:-webkit-autofill{
   -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #2F9EE2;
 }
 #search:-webkit-autofill:focus{
   -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #2F9EE2;
 }
input[type="range"]::-webkit-slider-thumb{
  background-color: #2F9EE2
}
input[type="range"]::-ms-thumb{
  background-color: #2F9EE2
}
input[type="range"]::-moz-range-thumb{
  background-color: #2F9EE2
}

.tabs .tab a{
  font-size: 1.2em
}
.tabs .tab a, .tabs .tab a{
  color: rgb(100,100,100);
}
.tabs .tab a:hover, .tabs .tab a.active{
  color: #2F9EE2;
}
.tabs .indicator{
  background-color: #2F9EE2;
}

.btn{
  background-color: #2F9EE2;
}
.btn:hover{
  background-color: #0087d6;
}

.margin-top-20{
  margin-top: 20px
}

#logo-sound-group{
  margin-bottom:30px
}
.waiting-list-icon{
  position: relative;
}
.hover-chip{
  opacity:0;
  position: absolute;
  top: -60px;
  max-width: 400px;
  background-color: rgba(15,15,15,0.7);
  color:white;
  padding: 10px;
  border-radius: 10px;
}
.waiting-list-icon:hover .hover-chip {
  -o-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  opacity:1
}

.player-background{
  padding: 35px 0 52px 0;
  text-align: center;
  color: white;
  border-radius: 1px;
}

.player-background .play-pause{
  background-color: white;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  margin: auto
}

.player-number{
  width:100%;
  position: relative;
}
.player-number img{
  position: absolute;
  right:5px;
  top:-30px;
  width:24px;
}

.left-background{
  background: #bed2db;
  background: -moz-linear-gradient(left, #bed2db 0%, #b1cddb 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #bed2db), color-stop(100%, #b1cddb));
  background: -webkit-linear-gradient(left, #bed2db 0%, #b1cddb 100%);
  background: -o-linear-gradient(left, #bed2db 0%, #b1cddb 100%);
  background: -ms-linear-gradient(left, #bed2db 0%, #b1cddb 100%);
  background: linear-gradient(to right, #bed2db 0%, #b1cddb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e58d4a', endColorstr='#f0c495', GradientType=1 );
}

.right-background{
  margin-right: 0;
  margin-left: auto;
  background: #b1cddb;
  background: -moz-linear-gradient(left, #b1cddb 0%, #bed2db 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #b1cddb), color-stop(100%, #bed2db));
  background: -webkit-linear-gradient(left, #b1cddb 0%, #bed2db 100%);
  background: -o-linear-gradient(left, #b1cddb 0%, #bed2db 100%);
  background: -ms-linear-gradient(left, #b1cddb 0%, #bed2db 100%);
  background: linear-gradient(to right, #b1cddb 0%, #bed2db 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0c495', endColorstr='#e58d4a', GradientType=1 );
}

.play-pause img{
  width: 36px;
  margin-top: 16px
}

.gradient-border{
  position: flex;
  vertical-align: center;
  justify-content: center;
  border: 1px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #a5deff 0%, #2F9EE2 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #a5deff 0%, #2F9EE2 100%);
  border-image: linear-gradient(to right, #a5deff 0%, #2F9EE2 100%);
  border-image-slice: 1;
  background-color: white;
  box-shadow: none;
}
.horizontal-padded-20{
  padding: 0 20px
}

.margin-left-10{
  margin-left: 10px
}

/*ANIMATIONS*/

.fade-up-enter{
  top: 100px;
}
.fade-up-enter-active{
  top: 0;
  transition: all 500ms ease-in;
}
.fade-up-leave{
  opacity: 1.0;
  transition: opacity 1s ease-in-out;
}
.fade-up-leave-active{
  opacity: 0.01;
}

.fade-right-leave{
  left: 0;
  opacity:1;
}
.fade-right-leave-active{
  left: 500px;
  opacity:0;
  transition: all 500ms ease-out;
}

.fade-in-out-enter{
  opacity: 0.01;
  transition: opacity 1s ease-in-out;
}
.fade-in-out-enter-active{
  opacity: 1.0;
}
.fade-in-out-leave{
  opacity: 1.0;
  transition: opacity 1s ease-in-out;
}
.fade-in-out-leave-active{
  opacity: 0.01;
}
