@import url(./materialize/materialize.css);
/* line 1, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_player.scss */
.video-container {
  padding: 97px 0;
  top: 56px;
  z-index: 1;
  position: absolute;
}
/* line 6, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_player.scss */
.video-container h5 {
  text-align: center;
}

/* line 10, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_player.scss */
.music-title {
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  vertical-align: center;
}

/* line 18, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_player.scss */
.music-title h5 {
  text-shadow: 1px 1px 3px #7f7c7c;
  color: white;
  width: 100%;
  margin: auto 0;
  font-size: 1.3em;
}

/* line 25, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_player.scss */
.video-container iframe {
  border: 1px solid #969696;
  height: 144px;
}

/* line 30, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_player.scss */
.player-background {
  padding: 35px 0 52px 0;
  text-align: center;
  color: white;
  border-radius: 1px;
}

/* line 37, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_player.scss */
.player-background .play-pause {
  background-color: white;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  margin: auto;
}

/* line 45, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_player.scss */
.left-background {
  background: #bed2db;
  background: -moz-linear-gradient(left, #bed2db 0%, #b1cddb 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #bed2db), color-stop(100%, #b1cddb));
  background: -webkit-linear-gradient(left, #bed2db 0%, #b1cddb 100%);
  background: -o-linear-gradient(left, #bed2db 0%, #b1cddb 100%);
  background: -ms-linear-gradient(left, #bed2db 0%, #b1cddb 100%);
  background: linear-gradient(to right, #bed2db 0%, #b1cddb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e58d4a', endColorstr='#f0c495', GradientType=1 );
}

/* line 56, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_player.scss */
.right-background {
  margin-right: 0;
  margin-left: auto;
  background: #b1cddb;
  background: -moz-linear-gradient(left, #b1cddb 0%, #bed2db 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #b1cddb), color-stop(100%, #bed2db));
  background: -webkit-linear-gradient(left, #b1cddb 0%, #bed2db 100%);
  background: -o-linear-gradient(left, #b1cddb 0%, #bed2db 100%);
  background: -ms-linear-gradient(left, #b1cddb 0%, #bed2db 100%);
  background: linear-gradient(to right, #b1cddb 0%, #bed2db 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0c495', endColorstr='#e58d4a', GradientType=1 );
}

/* line 69, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_player.scss */
.play-pause img {
  width: 36px;
  margin-top: 16px;
}

/* line 1, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_card.scss */
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #2F9EE2;
  margin: 0;
}

/* line 6, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_card.scss */
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover,
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover > i {
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #a5deff;
}

/* line 15, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_card.scss */
.card-action a {
  display: flex;
  align-items: center;
}

/* line 19, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_card.scss */
.card-action {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

/* line 24, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_card.scss */
.gradient-border {
  position: flex;
  vertical-align: center;
  justify-content: center;
  border: 1px solid transparent;
  -moz-border-image: -moz-linear-gradient(left, #a5deff 0%, #2F9EE2 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #a5deff 0%, #2F9EE2 100%);
  border-image: linear-gradient(to right, #a5deff 0%, #2F9EE2 100%);
  border-image-slice: 1;
  background-color: white;
  box-shadow: none;
}

/* line 36, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_card.scss */
.card-image {
  position: relative;
}

/* line 39, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_card.scss */
.card-image div {
  height: 160px;
  background-size: 120%;
  background-position: center;
}

/* line 44, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_card.scss */
.card-title {
  text-shadow: 1px 1px 3px #565454;
  width: 100%;
  height: 130px;
  color: white;
  position: absolute;
  top: 0;
}

/* line 53, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_card.scss */
.video-duration {
  background-color: rgba(15, 15, 15, 0.7);
  padding: 8px 10px 22px 10px;
  height: 20px;
  color: white;
  margin: 0;
  line-height: 14px;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* line 1, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_button.scss */
.btn-floating i {
  color: #2F9EE2;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 9, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_button.scss */
.btn-floating {
  background: none;
  border: 1px solid #2F9EE2;
}

/* line 13, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_button.scss */
.btn-floating:hover {
  background-color: #2F9EE2;
  color: white;
}

/* line 17, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_button.scss */
.btn-floating:hover i {
  color: white;
}

/* line 20, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_button.scss */
.btn:focus, .btn-large:focus, .btn-floating:focus {
  background-color: #2F9EE2;
}

/* line 23, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_button.scss */
.btn {
  background-color: #2F9EE2;
}

/* line 26, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_button.scss */
.btn:hover {
  background-color: #0087d6;
}

/* line 30, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_button.scss */
.search-btn {
  height: 68px;
  width: 180px;
  text-align: center;
  margin-top: 6vh;
}

/* line 37, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_button.scss */
.white-btn {
  border: 1px solid white;
  border-radius: 2px;
  background: none;
}

/* line 1, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_searchbar.scss */
nav {
  background-color: whitesmoke;
}

/* line 4, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_searchbar.scss */
nav .input-field label i {
  color: #119ee0;
}

/* line 7, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_searchbar.scss */
.material-icons {
  color: #119ee0;
}

/* line 10, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_searchbar.scss */
.input-field input[type=search]:focus ~ .material-icons {
  color: #119ee0;
}

/* line 13, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_searchbar.scss */
.input-field input[type=search]:focus + label i {
  color: #119ee0;
}

/* line 16, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_searchbar.scss */
#search:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
  /* Change the color to your own background color */
  -webkit-text-fill-color: #2F9EE2;
}

/* line 20, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_searchbar.scss */
#search:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
  /* Change the color to your own background color */
  -webkit-text-fill-color: #2F9EE2;
}

/* line 1, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_side_nav.scss */
.button-collapse .material-icons {
  font-size: 30px;
  margin: 12px 0 14px 3%;
}

/* line 6, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_side_nav.scss */
.sidenav-background {
  width: 100%;
  position: relative;
}

/* line 11, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_side_nav.scss */
.side-nav .userView .name, .side-nav .userView .email {
  padding: 0;
  margin: 0;
}

/* line 15, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_side_nav.scss */
.sidenav-background img {
  position: absolute;
  left: -20px;
}

/* line 20, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_side_nav.scss */
.profile-btn-group {
  margin: 10px 0;
}

/* line 1, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_tabs.scss */
.tabs {
  margin-top: 20px;
  background-color: transparent;
}

/* line 5, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_tabs.scss */
.tabs .tab a {
  font-size: 1.2em;
}

/* line 8, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_tabs.scss */
.tabs .tab a, .tabs .tab a {
  color: #646464;
}

/* line 11, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_tabs.scss */
.tabs .tab a:hover, .tabs .tab a.active {
  color: #2F9EE2;
}

/* line 14, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_tabs.scss */
.tabs .indicator {
  background-color: #2F9EE2;
}

/* line 1, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_form.scss */
input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]),
input:not([type]).valid,
input:not([type]):focus.valid,
input[type=text].valid,
input[type=text]:focus.valid,
input[type=password].valid,
input[type=password]:focus.valid,
input[type=email].valid,
input[type=email]:focus.valid,
input[type=url].valid,
input[type=url]:focus.valid,
input[type=time].valid,
input[type=time]:focus.valid,
input[type=date].valid,
input[type=date]:focus.valid,
input[type=datetime].valid,
input[type=datetime]:focus.valid,
input[type=datetime-local].valid,
input[type=datetime-local]:focus.valid,
input[type=tel].valid,
input[type=tel]:focus.valid,
input[type=number].valid,
input[type=number]:focus.valid,
input[type=search].valid,
input[type=search]:focus.valid,
textarea.materialize-textarea.valid,
textarea.materialize-textarea:focus.valid {
  border-bottom: 1px solid #2F9EE2;
  box-shadow: 0 1px 0 0 #2F9EE2;
}

/* line 44, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_form.scss */
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background-color: rgba(250, 255, 189, 0);
}

/* line 48, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_form.scss */
input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #2F9EE2;
}

/* line 64, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/components/_form.scss */
.input-field .prefix.active {
  color: #2F9EE2;
}

/* line 1, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_soundmixer.scss */
#logo {
  display: block;
  width: 100%;
  max-width: 100px;
  margin: calc(40px - 10%) auto 6% auto;
}

/* line 8, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_soundmixer.scss */
#right-sound-link, #left-sound-link {
  position: absolute;
  height: 28.1px;
  width: 3px;
  background-color: #c2c0c2;
}

/* line 15, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_soundmixer.scss */
#right-sound-link {
  bottom: 0;
  right: 0;
}

/* line 19, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_soundmixer.scss */
#left-sound-link {
  top: 0;
  left: 0;
}

/* line 23, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_soundmixer.scss */
input[type="range"] {
  border: none;
}

/* line 26, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_soundmixer.scss */
input[type="range"]::-webkit-slider-thumb {
  margin-top: -11px;
  height: 26px;
  width: 26px;
  background-image: url("/volume.png");
  background-size: 100%;
}

/* line 33, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_soundmixer.scss */
input[type="range"]::-ms-thumb {
  margin-top: -11px;
  height: 26px;
  width: 26px;
  background-image: url("/volume.png");
  background-size: 100%;
}

/* line 40, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_soundmixer.scss */
input[type="range"]::-moz-range-thumb {
  margin-top: -11px;
  height: 26px;
  width: 26px;
  background-image: url("/volume.png");
  background-size: 100%;
}

/* line 48, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_soundmixer.scss */
.modal {
  width: 90% !important;
  min-height: 90% !important;
  top: 5% !important;
}

/* line 1, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_waiting_list.scss */
.list-container {
  border: 1px solid #C2C0C2;
  padding: 0 10px;
  border-radius: 3px;
  margin-top: 20px;
  position: relative;
  height: 100px;
}
/* line 8, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_waiting_list.scss */
.list-container h6 {
  display: table;
  margin-top: -22px;
  margin-bottom: 16px;
  background: white;
}

/* line 15, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_waiting_list.scss */
#list-detail-btn {
  height: 68px;
  width: 120px;
  position: absolute;
  bottom: 3px;
  right: 3px;
  background-color: white;
  z-index: 4;
  padding-top: 32px;
  padding-left: 10px;
}
/* line 25, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_waiting_list.scss */
#list-detail-btn .btn {
  width: 110px;
}

/* line 30, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_waiting_list.scss */
#list-detail-gradient {
  position: absolute;
  bottom: 3px;
  right: 123px;
  height: 68px;
  width: 20px;
  z-index: 5;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, white));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
}

/* line 45, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_waiting_list.scss */
.waiting-list-icon {
  margin-top: 60px;
  position: relative;
}

/* line 49, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_waiting_list.scss */
.hover-chip {
  opacity: 0;
  position: absolute;
  top: -60px;
  max-width: 400px;
  background-color: rgba(15, 15, 15, 0.7);
  color: white;
  padding: 10px;
  border-radius: 10px;
}

/* line 59, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_waiting_list.scss */
.waiting-list-icon:hover .hover-chip {
  -o-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -webkit-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  opacity: 1;
}

/* line 67, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_waiting_list.scss */
.collection .collection-item {
  padding: 12px 20px;
  cursor: move;
}

/* line 71, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_waiting_list.scss */
.collection .collection-item.avatar {
  min-height: 0;
}

/* line 75, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_waiting_list.scss */
.truncate-list {
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 126px;
  overflow: hidden;
}

/* line 1, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_prehome.scss */
.prehome-background {
  z-index: 0;
  background: url("/dj_mix.jpg") no-repeat center center fixed;
  height: 800%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 16, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_prehome.scss */
.strip {
  margin: 5px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 3px;
  text-align: center;
  background-color: #06060E;
  z-index: 20;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
}
/* line 28, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_prehome.scss */
.strip input {
  margin-bottom: 5px;
}

/* line 33, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_prehome.scss */
.prehome-content {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

/* line 38, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_prehome.scss */
#prehome-logo {
  width: 50%;
  min-width: 100px;
  max-width: 200px;
  min-height: 100px;
  max-height: 200px;
  margin: auto auto 60px auto;
  background-color: white;
  border-radius: 100px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}
/* line 48, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_prehome.scss */
#prehome-logo img {
  width: 60%;
  padding: 16.7% 0;
}

/* line 54, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_prehome.scss */
.cover-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

/* line 62, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_prehome.scss */
.title-container {
  width: 100%;
  padding: 40px 0;
  background-color: #06060E;
}

/* line 68, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_prehome.scss */
.subtitle-container {
  position: relative;
  width: 30%;
  margin: auto;
  padding: 10px;
  background-color: #06060E;
  margin-top: 800px;
}
/* line 75, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_prehome.scss */
.subtitle-container h3 {
  margin: 0;
}

/* line 79, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_prehome.scss */
#fake-form {
  display: flex;
  justify-content: center;
}

/* line 84, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_prehome.scss */
#fake-input {
  width: 162px;
}
/* line 86, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_prehome.scss */
#fake-input p {
  margin-bottom: 0;
  overflow: hidden;
  height: 21px;
}
/* line 91, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_prehome.scss */
#fake-input hr {
  width: 100%;
}

/* line 95, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_prehome.scss */
#fake-input-text {
  width: 0;
}

/* line 98, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_prehome.scss */
#fake-btn {
  margin: 10px 0 7px 5px;
  border: 1px solid white;
  padding: 5px;
  width: 70px;
}
/* line 103, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_prehome.scss */
#fake-btn.fake-clic {
  background-color: white;
  color: black;
}

/* line 109, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_prehome.scss */
#fake-soundmixer {
  width: 60%;
  margin: auto;
  opacity: 0;
  top: 50%;
  left: 20%;
  margin-top: -157px;
}
/* line 116, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/pages/_prehome.scss */
#fake-soundmixer img {
  z-index: 1;
  width: 100%;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
  /* line 2, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }

  /* line 6, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  h2 {
    font-size: 1.8em;
  }

  /* line 9, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  h3 {
    font-size: 1.6em;
    margin-top: 0;
  }

  /* line 13, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  h4 {
    font-size: 1.5em;
  }

  /* line 16, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  .video-container {
    top: 97px;
    width: 90%;
  }

  /* line 20, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  .right-thumbnail {
    left: 5%;
    top: 342px;
  }

  /* line 24, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  .left-thumbnail {
    left: 5%;
  }

  /* line 27, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  #logo-sound-group {
    padding: 10px 0;
    position: relative;
  }

  /* line 31, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  .sidenav-background {
    height: 162px;
  }

  /* line 34, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  .room-presentation {
    margin-top: -70px;
    margin-bottom: -20px;
  }

  /* line 38, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  #fake-soundmixer {
    width: 90%;
    left: 5%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 992px) {
  /* line 44, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  h1 {
    font-size: 2.4em;
    margin-bottom: 15px;
  }

  /* line 48, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  h2 {
    font-size: 2.1em;
  }

  /* line 51, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  h3 {
    font-size: 1.8em;
    margin-top: 0;
  }

  /* line 55, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  h4 {
    font-size: 1.65em;
  }

  /* line 58, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  .video-container {
    top: 204px;
    width: calc(35.6% - 14px);
  }

  /* line 62, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  .right-thumbnail {
    right: 7.5%;
  }

  /* line 65, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  .left-thumbnail {
    left: 7.5%;
  }

  /* line 68, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  .sidenav-background {
    height: 162px;
  }

  /* line 71, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  .room-presentation {
    margin-top: -20px;
    margin-bottom: 40px;
  }

  /* line 75, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  #fake-soundmixer {
    width: 80%;
    left: 10%;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 81, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  h1 {
    font-size: 2.6em;
  }

  /* line 84, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  h2 {
    font-size: 2.35em;
  }

  /* line 87, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  h3 {
    font-size: 2.15em;
  }

  /* line 90, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  h4 {
    font-size: 1.95em;
  }

  /* line 93, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  .video-container {
    top: 237px;
    width: calc(29.5% - 16px);
  }

  /* line 97, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  .right-thumbnail {
    right: 15%;
  }

  /* line 100, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  .left-thumbnail {
    left: 15%;
  }

  /* line 103, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  #logo {
    margin-top: calc(40px - 10%);
  }

  /* line 106, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  .sidenav-background {
    height: 178px;
  }

  /* line 109, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  .room-presentation {
    margin-top: -30px;
    margin-bottom: 60px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 115, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  h1 {
    font-size: 3em;
  }

  /* line 118, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  h2 {
    font-size: 2.7em;
  }

  /* line 121, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  h3 {
    font-size: 2.4em;
  }

  /* line 124, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  h4 {
    font-size: 2.1em;
  }

  /* line 127, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  .video-container {
    top: 233px;
    width: calc(29.1% - 12px);
  }

  /* line 131, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  .right-thumbnail {
    right: 15%;
  }

  /* line 134, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  .left-thumbnail {
    left: 15%;
  }

  /* line 137, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  .sidenav-background {
    height: 178px;
  }

  /* line 140, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_media_queries.scss */
  .room-presentation {
    margin-top: -40px;
    margin-bottom: 50px;
  }
}
/* line 1, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_utilities.scss */
body {
  font-family: "Asap";
}

/* line 5, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_utilities.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
}

/* line 13, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_utilities.scss */
.avatar-sizing {
  width: 56px;
  height: 56px;
}

/* line 18, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_utilities.scss */
a[disabled] {
  pointer-events: none;
}

/* line 21, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_utilities.scss */
a[disabled] i, a[disabled] span {
  color: #909090;
}

/* line 25, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_utilities.scss */
.block-500 {
  display: block;
  height: 200px;
  width: 100%;
}

/* line 30, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_utilities.scss */
.button-collapse {
  z-index: 30;
  position: fixed;
  top: 5px;
  left: 15px;
}

/* line 37, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_utilities.scss */
.hidden {
  visibility: hidden;
}

/* line 40, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_utilities.scss */
.visible {
  visibility: visible;
}

/* line 44, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_utilities.scss */
.fixed {
  position: fixed;
}

/* line 48, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_utilities.scss */
.text-center {
  text-align: center;
}

/* line 51, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_utilities.scss */
.text-right {
  text-align: right;
}

/* line 55, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_utilities.scss */
.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

/* line 60, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_utilities.scss */
.list-inline li {
  vertical-align: top;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

/* line 67, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_utilities.scss */
.margin-top-20 {
  margin-top: 20px;
}

/* line 71, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_utilities.scss */
.horizontal-padded-20 {
  padding: 0 20px;
}

/* line 75, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_utilities.scss */
.margin-left-10 {
  margin-left: 10px;
}

/* line 79, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_utilities.scss */
.full-width {
  width: 100%;
}

/* line 83, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_utilities.scss */
.space-around {
  display: flex;
  justify-content: space-around;
}

/* line 88, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_utilities.scss */
.btn-small {
  height: 28px;
  line-height: 24px;
  font-size: 11px;
  padding: 3px 4px;
  min-width: 104px;
}

/* line 96, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_utilities.scss */
.nice-container {
  border: 1px solid #C2C0C2;
  padding: 10px 10%;
  border-radius: 3px;
  background-color: white;
}

/* line 103, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_utilities.scss */
.vertical-align-container {
  height: calc(100vh - 144px);
  display: flex;
  align-items: center;
}

/* line 110, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_utilities.scss */
span.value {
  visibility: hidden;
}

/* line 113, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_utilities.scss */
span.thumb.active {
  visibility: hidden;
}

/* line 1, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_animations.scss */
.fade-up-enter {
  top: 100px;
}

/* line 4, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_animations.scss */
.fade-up-enter-active {
  top: 0;
  transition: all 500ms ease-in;
}

/* line 8, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_animations.scss */
.fade-up-leave {
  opacity: 1.0;
  transition: opacity 1s ease-in-out;
}

/* line 12, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_animations.scss */
.fade-up-leave-active {
  opacity: 0.01;
}

/* line 16, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_animations.scss */
.fade-right-leave {
  left: 0;
  opacity: 1;
}

/* line 20, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_animations.scss */
.fade-right-leave-active {
  left: 500px;
  opacity: 0;
  transition: all 500ms ease-out;
}

/* line 26, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_animations.scss */
.fade-in-out-enter {
  opacity: 0.01;
  transition: opacity 1s ease-in-out;
}

/* line 30, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_animations.scss */
.fade-in-out-enter-active {
  opacity: 1.0;
}

/* line 33, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_animations.scss */
.fade-in-out-leave {
  opacity: 1.0;
  transition: opacity 1s ease-in-out;
}

/* line 37, /Users/user/code/baptistemz/react-rails-redux-sample/app/assets/stylesheets/layout/_animations.scss */
.fade-in-out-leave-active {
  opacity: 0.01;
}
