.fade-enter{
  opacity: 0.01;
}
.fade-enter-active{
  opacity: 1.0;
  transition: opacity 1s ease-in-out;
}
.fade-leave{
  opacity: 1.0;
  transition: opacity 1s ease-in-out;
}
.fade-leave-active{
  opacity: 0.01;
}

.fade-up-enter{
  top: 100px;
}
.fade-up-enter-active{
  top: 0;
  transition: all 500ms ease-in;
}
.fade-up-leave{
  opacity: 1.0;
  transition: opacity 1s ease-in-out;
}
.fade-up-leave-active{
  opacity: 0.01;
}

.fade-right-leave{
  left: 0;
  opacity:1;
}
.fade-right-leave-active{
  left: 500px;
  opacity:0;
  transition: all 500ms ease-out;
}

.fade-right-enter{
  left: -500px;
  opacity:0;
}
.fade-right-enter-active{
  left: 0;
  opacity:1;
  transition: all 500ms ease-out;
}
.fade-in-out-enter{
  opacity: 0.01;
  transition: opacity 1s ease-in-out;
}
.fade-in-out-enter-active{
  opacity: 1.0;
}
.fade-in-out-leave{
  opacity: 1.0;
  transition: opacity 1s ease-in-out;
}
.fade-in-out-leave-active{
  opacity: 0.01;
}


#blink {
  -moz-animation-duration: 1000ms;
  -moz-animation-name: blink;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;

  -webkit-animation-duration: 1000ms;
  -webkit-animation-name: blink;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;

  animation-duration: 1000ms;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@-moz-keyframes blink {
  from {
    color: $primary-color;
    border-color: $primary-color;
  }
  to {
    color: white;
    border-color: white;
  }
}
@-webkit-keyframes blink {
  from {
    color: $primary-color;
    border-color: $primary-color;
  }
  to {
    color: white;
    border-color: white;
  }
}
@keyframes blink {
  from {
    color: $primary-color;
    border-color: $primary-color;
  }
  to {
    color: white;
    border-color: white;
  }
}
