@media only screen and (min-width : 0px) and (max-width: 600px) {
  h1{
    font-size: 2em;
    margin-bottom: 10px;
  }
  h2{
    font-size: 1.8em;
  }
  h3{
    font-size: 1.6em;
    margin-top: 0;
  }
  h4{
    font-size: 1.5em;
  }
  .video-container{
    top: 101px;
    width: 90%;
  }
  .right-thumbnail{
    left: 5%;
    top: 346px;
  }
  .left-thumbnail{
    left: 5%;
  }
  #logo-sound-group{
    padding: 10px 0;
    position: relative
  }
  .sidenav-background{
    height:198px
  }
  .room-presentation{
    margin-top: -10px;
    margin-bottom: -20px
  }
  #fake-soundmixer{
    width: 90%;
    left: 5%;
    top: 56%
  }
  #search-btn{
    top: 12px;
    right: 5%;
  }
}
@media only screen and (min-width: 600px) and (max-width : 992px) {
  h1{
    font-size: 2.4em;
    margin-bottom:15px;
  }
  h2{
    font-size: 2.1em;
  }
  h3{
    font-size: 1.8em;
    margin-top: 0;
  }
  h4{
    font-size: 1.65em;
  }
  .video-container{
    top: 204px;
    width: calc(35.6% - 14px);
  }
  .right-thumbnail{
    right:7.5%;
  }
  .left-thumbnail{
    left:7.5%
  }
  .sidenav-background{
    height:198px
  }
  .room-presentation{
    margin-top: 65px;
    margin-bottom: 40px
  }
  #fake-soundmixer{
    width: 80%;
    left: 10%;
    top: 50%;
  }
  #search-btn{
    top: 12px;
    right: 8%;
  }
}
@media only screen and (min-width: 992px) and (max-width : 1200px) {
  h1{
    font-size: 2.6em;
  }
  h2{
    font-size: 2.35em;
  }
  h3{
    font-size: 2.15em;
  }
  h4{
    font-size: 1.95em;
  }
  .video-container{
    top: 237px;
    width: calc(29.5% - 16px);
  }
  .right-thumbnail{
    right:15%;
  }
  .left-thumbnail{
    left:15%
  }
  #logo{
    margin-top: calc(40px - 10%);
  }
  .sidenav-background{
    height:200px
  }
  .room-presentation{
    margin-top: 57px;
    margin-bottom: 60px
  }
  #search-btn{
    top: 20px;
    right: 5%;
    .btn-floating{
      width: 55px;
      height: 55px;
      .material-icons{
        line-height: 55px;
        font-size: 31px
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  h1{
    font-size: 3em;
  }
  h2{
    font-size: 2.7em;
  }
  h3{
    font-size: 2.4em;
  }
  h4{
    font-size: 2.1em;
  }
  .video-container{
    top: 233px;
    width: calc(29.1% - 12px);
  }
  .right-thumbnail{
    right:15%;
  }
  .left-thumbnail{
    left:15%
  }
  .sidenav-background{
    height:200px
  }
  .room-presentation{
    margin-top: 48px;
    margin-bottom: 50px
  }
  #search-btn{
    top: 20px;
    right: 5%;
    .btn-floating{
      width: 55px;
      height: 55px;
      .material-icons{
        line-height: 55px;
        font-size: 31px
      }
    }
  }
}
