body {
  font-family: 'Asap'
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat'
}
// 
// h4{
//   margin-top: 50px
// }

.avatar-sizing{
  width: 56px;
  height: 56px
}

a[disabled] {
  pointer-events: none;
}
a[disabled] i, a[disabled] span {
  color: rgb(144,144,144)
}

.hidden {
  visibility: hidden;
}
.visible{
  visibility: visible;
}

.text-center{
  text-align: center
}
.text-right{
  text-align: right
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline li {
  vertical-align:top;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.margin-top-20{
  margin-top: 20px
}

.horizontal-padded-20{
  padding: 0 20px
}

.margin-left-10{
  margin-left: 10px
}

.full-width{
  width: 100%;
}

.space-around{
  display: flex;
  justify-content: space-around;
}

.btn-small {
    height: 28px;
    line-height: 24px;
    font-size: 11px;
    padding: 3px 4px;
    min-width: 104px;
}

.nice-container{
  border: 1px solid #C2C0C2;
  padding: 10px 10%;
  border-radius:3px;
  background-color: white
}

.vertical-align-container{
  height: calc(100vh - 144px);
  display: flex;
  align-items: center;
}

// DEBUG MATERIALIZE
span.value{
   visibility: hidden
 }
span.thumb.active{
   visibility: hidden
 }
