body {
  font-family: 'Asap';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat'
}

h1{
  display: inline;
  border-bottom: 8px solid $primary-color;
  padding-bottom: 2px;
  line-height: 1.75em;
}

h3{
  margin-top: 12px;
  margin-bottom: 12px;
}

.modal h4{
  margin-top: 5px
}

.avatar-sizing{
  width: 56px;
  height: 56px
}

.row{
  margin-bottom: 0;
}

a[disabled] {
  pointer-events: none;
}
a[disabled] i, a[disabled] span {
  color: rgb(144,144,144)
}

big{
  font-size: 30px;
  color: $primary-color
}

.block-500{
  display: block;
  height: 500px;
  width: 100%;
}
.block-10{
  display: block;
  height: 10px;
  width: 100%;
}
.button-collapse{
  z-index: 30;
  position: fixed;
  top: 5px;
  left: 15px
}

.hidden {
  display: none
}
.visible{
  display: initial
}

.fixed{
  position: fixed;
}
.absolute{
  position: absolute
}
.text-center{
  text-align: center
}
.text-right{
  text-align: right
}
.underline{
  display: inline;
  border-bottom: 2px solid $primary-color;
  line-height: 1.75em;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}
.list-inline li {
  vertical-align:top;
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.margin-top-20{
  margin-top: 20px
}

.horizontal-padded-20{
  padding: 0 20px
}

.margin-left-10{
  margin-left: 10px
}

.no-padding{
  padding: 0
}

.text-20{
  font-size: 20px
}

.full-width{
  width: 100%;
}

.space-around{
  display: flex;
  justify-content: space-around;
}

.align-items{
  display: flex;
  align-items: center;
}

.btn-small {
    height: 28px;
    line-height: 24px;
    font-size: 11px;
    padding: 3px 4px;
    min-width: 104px;
}

.nice-container{
  border: 1px solid #C2C0C2;
  padding: 10px 10%;
  border-radius:3px;
  background-color: white
}

.vertical-align-container{
  height: 100vh;
  display: flex;
  align-items: center;
}



// DEBUG MATERIALIZE
span.value{
   visibility: hidden
 }
span.thumb.active{
   visibility: hidden
 }
