.btn-floating i{
  color: #2F9EE2;
  -o-transition: all 0.3s ease;
 -moz-transition: all 0.3s ease;
 -webkit-transition: all 0.3s ease;
 -ms-transition: all 0.3s ease;
 transition: all 0.3s ease;
}
.btn-floating{
  background: none;
  border: 1px solid #2F9EE2;
}
.btn-floating:hover{
  background-color: #2F9EE2;
  color: white
}
.btn-floating:hover i{
  color: white
}
.btn:focus, .btn-large:focus, .btn-floating:focus{
  background-color: #2F9EE2;
}
.btn{
  background-color: #2F9EE2;
}
.btn:hover{
  background-color: #0087d6;
}

.search-btn{
  height: 68px;
  width: 180px;
  text-align: center;
  margin-top: 6vh;
}

.white-btn{
  border: 1px solid white;
  border-radius: 2px;
  background: none;
}
