.btn-floating i{
  color: $primary-color;
  background-color: white;
  -o-transition: all 0.3s ease;
 -moz-transition: all 0.3s ease;
 -webkit-transition: all 0.3s ease;
 -ms-transition: all 0.3s ease;
 transition: all 0.3s ease;
}
.btn-floating{
  background: none;
  border: 1px solid $primary-color;
}
.btn-floating:hover{
  background-color: $primary-color;
  color: white
}
.btn-floating:hover i{
  color: white
}
.btn:focus, .btn-large:focus, .btn-floating:focus{
  background-color: $primary-color;
}
.btn{
  background-color: $primary-color;
}
.btn:hover{
  background-color: #0087d6;
}

.fixed-round-btn{
  position: absolute;
  .btn-floating{
    width: 50px;
    height: 50px;
    border: 1px solid black;
    .material-icons{
      line-height: 50px;
      font-size: 28px;
      color: black;
    }
  }
}

.fixed-round-btn:hover .material-icons{
  background-color: black;
  color: white
}

.white-btn{
  border: 1px solid white;
  border-radius: 2px;
  background: none;
}
.btn{
  padding: 0 1.5rem;
}
.messenger-btn {
  img{
    height: 26px;
    margin-top: 5px;
  }
}
