.video-container{
  padding: 88px 0;
  z-index: 1;
  position: absolute;
  & h5{
    text-align: center;
  }
}
.music-title{
  width: 100%;
  position: absolute;
  white-space: nowrap;
  bottom:0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1em;
  color: white;
}
// .music-title h5{
//   width: 100%;
//   margin: auto 0;
// }
.video-container iframe{
  height:144px;
}

.player-background{
  padding: 24px 0 42px 0;
  text-align: center;
  color: white;
  border-radius: 1px;
}

.player-background .play-pause{
  background-color: white;
  border-radius: 30px;
  width: 60px;
  height: 60px;
  margin: auto
}

.left-background{
  background: #bed2db;
  background: -moz-linear-gradient(left, #06060E 0%, black 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #06060E), color-stop(100%, black));
  background: -webkit-linear-gradient(left, #06060E 0%, black 100%);
  background: -o-linear-gradient(left, #06060E 0%, black 100%);
  background: -ms-linear-gradient(left, #06060E 0%, black 100%);
  background: linear-gradient(to right, #06060E 0%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e58d4a', endColorstr='#f0c495', GradientType=1 );
}

.right-background{
  margin-right: 0;
  margin-left: auto;
  background: black;
  background: -moz-linear-gradient(left, black 0%, #06060E 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, black), color-stop(100%, #06060E));
  background: -webkit-linear-gradient(left, black 0%, #06060E 100%);
  background: -o-linear-gradient(left, black 0%, #06060E 100%);
  background: -ms-linear-gradient(left, black 0%, #06060E 100%);
  background: linear-gradient(to right, black 0%, #06060E 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0c495', endColorstr='#e58d4a', GradientType=1 );
}

.play-pause img{
  width: 36px;
  margin-top: 16px
}

.delete-btn{
  cursor:pointer;
  transition: all 200ms ease-out;
  position: absolute;
  top: 5px;
  right: 5px;
  left: auto;
  color: $primary-color;
  background-color: white;
  padding: 5px 5px 0 5px;
  z-index: 40;
  border: 1px solid $primary-color;
  border-radius: 20px;
  i{
    font-size: 20px
  }
}
.delete-btn:hover{
  color: white;
  background-color: $primary-color;
}
