nav{
 background-color: rgb(245, 245, 245);
}
nav .input-field label i{
  color: $primary-color
}

.input-field input[type=search]:focus ~ .material-icons{
  color: $primary-color
}
.input-field input[type=search]:focus + label i{
  color: $primary-color
}
#search:-webkit-autofill{
  -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
   -webkit-text-fill-color: $primary-color;
}
#search:-webkit-autofill:focus{
  -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
   -webkit-text-fill-color: $primary-color;
}

.search-input-field label:not(.labe-icon).active {
  transform: initial;
}
