.button-collapse .material-icons{
  font-size: 30px;
  margin: 12px 0 14px 3%;
  color: black;
}
#slide-out{
  text-align: left;
}
.sidenav-background{
  width: 100%;
  position : relative;
  background-image: url("/equalizer.jpg");
  background-size: cover;
}
.side-nav .userView .name, .side-nav .userView .email{
  padding: 0;
  margin: 0;
}

.userView .material-icons{
  color: $primary-color;
  font-size: 40px;
}

.userView table{
  margin-left: 20px
}

.userView .white-text{
  text-shadow: 1px 1px 3px #565454
}

.userView td{
  padding: 30px 5px 0 0;
}
.userView td:first-child{
  padding: 25px 9px 0 0;
  width: 1.8%;
  line-height:24px;
}
.userView .material-icons{
  margin-top: 6px;
}

.profile-btn-group{
  margin: 10px 0
}

@media only screen and (max-width: 992px){
  .side-nav a {
    padding: 10px 16px;
    height: 70px
  }
  .side-nav .userView {
    padding: 30px 16px 0px;
  }
}
@media only screen and (max-width: 992px){
  .side-nav a {
    padding: 10px 16px;
    height: 70px
  }
  .side-nav .userView {
    padding: 30px 16px 0px;
  }
}
.side-nav a {
  padding: 10px 16px;
  height: 70px
}
