.button-collapse .material-icons{
  font-size: 30px;
  margin: 12px 0 14px 3%;
}

.sidenav-background{
  width: 100%;
  position : relative;
  background-image: url("/equalizer.jpg");
  background-size: cover;
}
.side-nav .userView .name, .side-nav .userView .email{
  padding: 0;
  margin: 0;
}

.userView{
  color: $primary-color;
  font-size: 2em
}

.userView table{
  margin-left: 20px
}

.profile-btn-group{
  margin: 10px 0
}
