<!DOCTYPE html>
<html>
  <head>
    <title>Bankiz Player</title>
    <link href="https://fonts.googleapis.com/css?family=Oxygen|Asap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
